{% extends 'main.html' %}

{% block content %}

<h1>Course Details</h1>

<div class="row">
    <div class="col-10">
        <h3>Learning Material</h3>
        <!--view.model's object.foreign key's model's object.attribute-->
        <h5>Course: {{registeredCourses.assignedLect.course.course_Name}}</h5>
        <h5>Learning Material Title: {{registeredCourses.assignedLect.assignedLect.title}}</h5>

        <table class="table table-striped table-bordered">
            <tr>
                <th>Name (need to filter this based on assigned course)</th>
                <th>Action</th>
            </tr>

            {% for getLearningMaterial in getLearningMaterials %}
            <tr>
                <td>{{getLearningMaterial.title}}</td> <!--we're not getting this because id != assignedLecturers-->
                <td><button class="btn btn-primary">Download</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <h3>Assignment</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Deadline</th>
            </tr>
            <tr>
                <td><a href="{% url 'stud-assignment-details' %}">link to assignment detail</a></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <h3>Quiz</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Deadline</th>
            </tr>
            <tr>
                <td><a href="{% url 'stud-quiz-details' %}">link to quiz detail</a></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}