{% extends 'main.html' %}

{% block content %}

<h1>Delete Learning Material Confirmation</h1>

<p>Are you sure you want to delete "{{learningMaterials}}"</p>

<form action="{% url 'delete-learning-material' currLect.id assignedCourse.id learningMaterials.id %}" method="POST">
    {% csrf_token %}
    <a class="btn btn-primary" href="{% url 'lect-learning-material' currLect.id assignedCourse.id   %}">Cancel</a>

    <input class="btn btn-danger" type="submit" value="Confirm">
</form>

{% endblock %}