{% extends 'main.html' %}

{% block content %}

<h1>Submitted Assignment</h1>

<div class="row">
    <div class="col">
        <form>
            <label>Name: {{assignments.name}}</label>
            <br>
            <label>Deadline: {{assignments.deadline}}</label>
            <br>
            <label>File: <a href="{{ assignments.file.url }}" target="_blank">{{assignments.file}}</a></label>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Student Name</th>
                <th>Student ID</th>
                <th>Submit Date and Time</th>
                <th>File</th>
                <th>Action</th>
            </tr>

            {% for submittedAssignment in submittedAssignments %}
            <tr>
                <td>{{submittedAssignment.course_registered.student.name}}</td>
                <td>{{submittedAssignment.course_registered.student.unique_id}}</td>
                <td>{{submittedAssignment.submit_file}}</td>
                <td><a href="{{submittedAssignment.submit_file.url}}" target="_blank"><button class="btn btn-primary">Download</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}