{% extends 'main.html' %}

{% block content %}

<h1>Manage Lecturer Page</h1>

<div class="row">
    <div class="col-10">
        <table class="table table-striped table-bordered">
            <tr>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form}}

                    <td><input class="btn btn-primary" type="submit" name="submit" value="Add"></td>
                </form>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {% for lecturer in lecturers %}
            <tr>
                <td>{{lecturer.name}}</td>
                <td>{{lecturer.id}}</td>
                <td>{{lecturer.email}}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'update-lecturer' lecturer.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete-lecturer' lecturer.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}