{% extends 'main.html' %}

{% block content %}

<h1>Manage Student Page</h1>

<div>
    <form method="POST" action="">
        
        <label>Student Name:</label>
        <input type="text" name="name" placeholder="Enter name">
        <br>

        <label>Student Username:</label>
        <input type="text" name="username" placeholder="Enter username">
        <br>
    
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password">
        <br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password">
        <br>

        <input type="submit" value="Register">
    </form>
</div>

{% endblock %}