{% load static %}

<style>
    img {
        border-radius: 50%;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav nav flex-column">

    <a href="{% url 'user-profile' user.id %}">
        <img src="{{request.user.profile_picture.url}}" alt="user picture" width="150px">
    </a>
    <br>

    
    
<!--ADD JS: ADD "active" class WHEN CLICK-->
    
<!--ADMIN-->
{% if user.is_authenticated and user.is_staff %}

        <p>{{user.name}}</p>

        <p>{{user.unique_id}}</p>

    
        <a class="nav-link active" aria-current="page" href="{% url 'admin-dashboard' user.id %}"><p>ADMIN DASHBOARD</p></a>
        
        <a class="nav-link active" aria-current="page" href="{% url 'manage-course' user.id %}"><p>MANAGE COURSE</p></a>
        

        <a class="nav-link active" aria-current="page" href="{% url 'manage-lecturer' user.id %}"><p>MANAGE LECTURER</p></a>
        

        <a class="nav-link active" aria-current="page" href="{% url 'manage-student' user.id %}"><p>MANAGE STUDENT</p></a>
        



{% elif user.is_authenticated and user.is_lecturer %} <!--Lecturer-->

        <p>{{user.name}}</p>

        <p>{{user.unique_id}}</p>

        <a class="nav-link active" aria-current="page" href="{% url 'lecturer-dashboard' user.id %}"><p>LECTURER DASHBOARD</p></a>
        

{% elif user.is_authenticated and user.is_student %} <!--Student-->

        <p>{{user.name}}</p>

        <p>{{user.unique_id}}</p>

        <a class="nav-link active" aria-current="page" href="{% url 'student-dashboard' user.id %}"><p>STUDENT DASHBOARD</p></a>
        <a class="nav-link active" aria-current="page" href="{% url 'register-course' user.id %}"><p>REGISTER COURSE</p></a>
        

{% endif %}

        <a class="nav-link active" aria-current="page" href="{% url 'change-email' user.id %}"><p>CHANGE EMAIL</p></a>
        
        <a class="nav-link active" aria-current="page" href="{% url 'password_change' %}"><p>CHANGE PASSWORD</p></a>
        
        <a class="nav-link active" aria-current="page" href="{% url 'session-management' user.id %}"><p>SESSION MANAGEMENT</p></a>

        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}"><p>LOGOUT</p></a>

    </div>
    </div>

</nav>